// COLORS
$color-primary-light :rgba(8, 85, 11, 0.301);
$color-primary:	#031904;

$color-secondary-text:#722B59;
$color-tertiary-text:#961165;

$color-white: white;
$color-grey-light:#C4C4C4;
$color-grey-dark: #172918;

// FONT
$default-font-size: 1.6rem;

// Container-width
$default-container-width: 85%; //127rem

