.header {
    display: flex;
    height: 100vh;

    @include respond(tab-port) {
        height: auto;
        flex-direction: column-reverse;
    }

    .content-box--right {
        flex: 1;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            flex: 0 0 30rem;
        }
    }

    // ---- Navigation Bar
    &__nav {
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        list-style: none;

        a {
            text-decoration: none;
            font-size: $default-font-size;
            color: white;
            text-transform: capitalize;
            letter-spacing: 1px;
            padding: 1rem;
            transition: all 0.2s;

            &:hover {
                background-color: #ffffff0f;
                border-radius: 5px;
            }
        }
    }

    // ---- Profile picture

    &__pic-container {
        display: flex;
        align-items: center;
        flex: 1;
        @include respond(tab-port) {
            position: relative;
        }
    }

    &__pic {
        padding: 1rem;
        background-color: white;
        height: 55vh;
        width: 40vh;
        transform: translateX(-50%);

        @include respond(tab-port) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 40%);
            height: 38rem;
            width: 28rem;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    // -- Left Box
    .content-box--left {
        flex: 0 0 58%;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        position: relative;

        @include respond(tab-port) {
            padding: 30rem 0 15rem 0;
        }

        .icon-design2 {
            height: 15rem;
            width: 20rem;
            fill: $color-primary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .icon-design3 {
            height: 10rem;
            width: 12rem;
            fill: $color-primary;
            position: absolute;
            left: 16rem;
            top: 4rem;

            @include respond(tab-land) {
                left: 10rem;
            }
            @include respond(tab-port) {
                display: none;
            }
        }
    }

    &__about {
        max-width: 40rem;
        margin-left: 15rem;

        @include respond(tab-land) {
            max-width: 30rem;
            margin-left: 7rem;
        }
        @include respond(tab-port) {
            max-width: 40rem;
            margin: 0 auto;
            @include absCenter;
        }

        .heading__container {
            position: relative;

            .icon-design1 {
                top: -1rem;
                left: 3rem;
                width: 100%;
                height: 9rem;
                position: absolute;
            }

            .heading-primary {
                margin-bottom: 1rem;
            }
        }

        .paragraph-secondary {
            margin-top: 3rem;
            @include respond(tab-port) {
                text-align: center;
            }
        }
    }
}
