.skills {
    margin: 12rem 0;
    @include respond(phone) {
        margin: 11rem 0;
    }

    &__box {
        width: 80%;
        margin: 10rem auto 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include respond(phone) {
            margin: 6rem auto 0 auto;
        }
    }

    &__logo {
        width: 15rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        padding: 3rem;
        margin: 3rem;
        overflow: hidden;
        @include respond(phone) {
            width: 18rem;
            padding: 2rem;
            margin: 2rem;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
